/* variables */
:root {
    /* colors */
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --bluegray: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);

    /* fonts */
    --outfit: "Outfit", sans-serif;
}
/* Basic resets */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Styles */

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: var(--outfit);
    background-color: var(--lightgray);
}

.card-container {
    max-width: 350px;
    min-height: 450px;
    margin: 10px;
}

.card-body {
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--white);
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.card-content .card-content--image {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.card-content--image figure {
    width: 100%;
    height: auto;
    margin: 0;
}

.card-content--image figure img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.card-content--description {
    font-family: var(--outfit);
    margin: 10px 10px 14px;
    text-align: center;
}

.card-content--description .card-title {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--darkblue);
}

.card-content--description .card-description {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--bluegray);
    margin: 0 6px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
