/* variables */
:root {
    /* colors */
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --bluegray: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);

    /* fonts */
    --outfit: "Outfit", sans-serif;
}
/* Basic resets */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Styles */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
